/*
 * body
 *   .page-header
 *     .nprogress-logo
 *     h1
 *     p.brief
 *
 *   .contents
 *     .controls
 *       p
 *         button.button
 *
 *   .actions
 *     a.button.primary.big
 *     p.brief
 *
 *   .hr-rule
 *
 *   .share-buttons
 */

body, html {
  padding: 0;
  margin: 0;
}

body {
  background: white;
}

body, td, input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.62;
  color: #222;
}

button {
  cursor: pointer;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

i, b {
  font-style: normal;
  font-weight: 400;
}

a,
a:visited {
  text-decoration: none;
  color: #29d;
}

a:hover,
a:focus {
  color: #18c;
}

/*
 * Logo
 */

.nprogress-logo {
  display: inline-block;

  width: 96px;
  height: 16px;
  border: solid 4px #2d9;
  border-radius: 20px;

  position: relative;
}

.nprogress-logo:after {
  content: '';
  display: block;

  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40%;

  background: #2d9;
  border-radius: 8px;
}

/*
 * Fade
 */

.fade {
  transition: all 300ms linear;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.fade.out {
  opacity: .2;
}

._pop {
  transition: all 300ms ease-out 600ms;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

._pop.out {
  opacity: 0;
  -webkit-transform: scale(0.7) translate3d(0,24px,0);
  -moz-transform: scale(0.7) translate3d(0,24px,0);
  -ms-transform: scale(0.7) translate3d(0,24px,0);
  -o-transform: scale(0.7) translate3d(0,24px,0);
  transform: scale(0.7) translate3d(0,24px,0);
}

/*
 * Button
 */

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.button {
  display: inline-block;
  text-decoration: none;

  background: #eee;
  color: #777;
  border-radius: 2px;

  padding: 8px 10px;
  font-weight: 400;
  text-align: left;
}

.button.play:before {
  content: '\25b6';
}

.button:hover {
  background: #2d9;
  color: #fff;
}

.button.primary {
  background: #2d9;
  color: #fff;
}
.button.primary:hover {
  background: #1c8;
}

.button:active {
  background: #2d9;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

/*
 * Controls
 */

.controls {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  color: #666;
  font-size: 0.86em;
  box-shadow: 0 8px 12px rgba(60, 90, 120, 0.1);
  border-radius: 4px;
}

.controls > p {
  margin: 0;
  padding: 16px;
}

.controls > p + p {
  padding-top: 0;
}

.controls .button {
  width: 40px;
  margin-right: 8px;
  text-align: center;
}

/* "NProgress" */
.controls i {
  color: #999;
  font-size: 1.2em;
}

/* ".start()" */
.controls b {
  color: #29d;
  font-weight: 700;
  font-size: 1.2em;
}

/*
 * Header
 */

.page-header {
  text-align: center;
  max-width: 460px;
  padding: 3em 20px;
  margin: 0 auto;
  padding: 16px;
  margin-top: 16px;
}

@media (max-width: 480px) {
  .page-header {
    margin-top: 0;
  }
}

.page-header h1 {
  font-size: 2.0em;
  text-align: center;
  font-weight: 200;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

@media (min-width: 481px) {
  .page-header h1 {
    margin-top: 32px;
    margin-bottom: 0.4em;
    font-size: 3em;
  }
}

p.brief {
  color: #888;
}


.page-header h1 i {
  color: #aaa;
  font-style: normal;
  font-weight: 200;
}

/* --- */

.actions {
  text-align: center;
  margin: 16px 0;
}

@media (min-width: 481px) {
  .actions {
    margin: 32px 0;
  }
}

.big.button {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 1.2em;
}


/*
 * Share buttons
 */

.share-buttons {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 481px) {
  .share-buttons {
    position: absolute;
    right: 16px;
    top: 16px;
    text-align: right;
  }
}

/*
 * Line
 */

.hr-rule::before {
  content: '';
  display: block;
  width: 96px;
  height: 1px;
  background: linear-gradient(to right, transparent, #eee 20%, #eee 80%, transparent);
  margin: 24px auto 16px auto;
}

.code-sponsor {
  text-align: center;
  margin: 20px auto 0 auto;
}

.code-sponsor > span {
  display: block;
  margin: 0 auto -10px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: #2d9;
  font-size: 0.7em;
  font-weight: normal;
}

.code-sponsor > div > iframe {
  display: inline-block;
  opacity: 0.8;
}
