{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 11
        }
      }
    ]
  ],
  "plugins": [],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
